.body {
    
     font-family: 'Montserrat', sans-serif;
    
}

.bg-1 {
    background-color: #ffffff;	 
    color: : #474e5d;
}
.bg-2 {
    background-color: #ffffff; 
    color: #474e5d;;
  }
  .bg-3 {
    background-color: #ffffff; 
    color: #555555;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 10px;
}

#videl {
  
   border-radius: 50%;
   height: 400px;
   width: 400px;
   margin-top:20px;
   margin-bottom:20px;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
   
   
   
#tree {
    
  
   height: 300px;
   width: 400px;
   margin-top: 10px;
   margin-bottom: 20px;
    
    
}


  
     
  


.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}

