.backgroundcolor {
  background-color:#cfcfcf;
  color: #333;
  border-radius: 25px;
  padding: 40px;
  
}    

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
 
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

.h1 {
  display: inline-block;
  margin: 0 0.5rem;


  animation-duration: 5s; /* don't forget to set a duration! */
  
  
  
}

.btn  {
    
    margin:2px 2px 2px 2px;
    
    
}

#btn btn-secondary btn-lg {
    
     margin:2px 2px 2px 2px;
    
    

}


#blockquote-footer {
  background-color:#cfcfcf;
  color: #333;

  
}    


.body {
    
     font-family: 'Montserrat', sans-serif;
    
}

.bg-1 {
    background-color: #1abc9c; 
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; 
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; 
    color: #555555
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 10px;
}


#need {
  
   border-radius: 50%;

}
